.trails-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #272727;

  .intro-container {
    width: 100%;

    @media (min-width: 481px) {
      width: 50%;
    }

    .title {
      text-align: center;
      font-size: 2rem;
    }

    .intro-text {
      text-align: center;
      font-size: 1rem;
    }
  }

  .trails {
    padding-top: 40px;
    width: 95%;

    @media (min-width: 481px) {
      width: 70%;
    }

    .trail {
      padding-bottom: 30px;

      .name {
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 5px;
      }

      .description {
        font-size: 1rem;
        padding: 5px 0px 15px 0px;

        @media (min-width: 481px) {
          max-width: 50%;
        }

        .get-started {
          padding-top: 10px;
        }
      }

      .exercise-tracker {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .exercise-title {
          font-size: 1.1rem;
          font-weight: bold;
        }

        .span {
          padding-right: 5px;
        }

        .dot {
          height: 25px;
          width: 25px;
          border-radius: 50%;
          display: inline-block;
        }

        .not-attempted {
          background-color: #bbb;
        }

        .green {
          background-color: #7DFF5D;
        }

        .orange {
          background-color: #F4B05A;
        }
      }
    }
  }
}
