<header class="header-container">
  <nav class="navbar">
    <div class="logo">
      <a href=<%= root_path %>>Home</a>
    </div>
    <div class="account-buttons">
      <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, class: 'some-css-class', data: { turbo_method: :delete } %>
      <% else %>
        <a href=<%= new_user_registration_path %>>
          <div class="login-button">Sign up</div>
        </a>

        <a href=<%= new_user_session_path %>>
          <div class="login-button">Log in</div>
        </a>
      <% end %>
    </div>
  </nav>
</header>
